@media screen and (min-width:601px) and (max-width:5000px){
*{

    padding: 0;
     margin: 0; 
     box-sizing: border-box;
     z-index: 999;

}

body{
  background: url(b50d87f5-4839-4f11-84d4-293b959bded8.jpg);
}
.m1{
  direction: rtl;
 padding-top: 30px;
 padding-right: 41%;
 font-size: 1.5em;
 font-weight: 800;
 font-family: monospace;
 padding-bottom: 30px;
 color: #DC143C;
 
}
.m2{
  font-size: 1.9em;
  font-weight: 700;
  direction: rtl;
  padding-right: 37%;
  padding-bottom: 20px;
  color: #0000CD;
} 
.zz1{
  display: flex;
  direction:rtl ;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid black;
  overflow:auto;
  
  padding-bottom: 30px;
}
.m3{
  font-size: 1.5em;
  font-weight: 200;

}
.xx1{

  font-size: 0.7em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #0000CD;


}

.mm2{
  padding-right: 35px;
  font-size: 1em;
  font-weight: 600;
}
.x1{
  padding-right: 50px;
  
  font-weight: 600;
  color: #DC143C;
}

.m4{
  padding-right: 40px;
  font-size: 1.5em;
  font-weight: 550;
}
.x2{
  padding-right:30px;
  color: #DC143C;
}

.mm5{
  font-size: 0.7em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #0000CD;
}
.mm6{
  padding-right: 35px;
}
.m5{
  padding-right: 40px;
  font-size: 1.5em;
   font-weight: 550;
 }
 .x3{
    padding-right: 30px;
    color: #DC143C;
 }
 .mm8{
  font-size: 0.7em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #0000CD;
 }
 .mm9{
  padding-right: 35px;
 }





 .m6{
  padding-right: 40px;
  font-size: 1.5em;
   font-weight: 550;
 }
 .x4{
    padding-right: 20px;
    font-size: 0.8em;
    font-weight: 700;
    color: #DC143C;
 }
 .mm11{
  font-size: 0.7em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #0000CD;
 }
 .mm12{
  padding-right: 35px;
 }

 .m7{
  padding-right: 40px;
  font-size: 1.5em;
   font-weight: 550;
 }
 .x5{
    padding-right: 45px;
    color: #DC143C;
 }
 .mm14{
  font-size: 0.7em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #0000CD;
 }
 .mm15{
  padding-right: 40px;
 }

 .m8{
  padding-right: 40px;
  font-size: 1.5em;
   font-weight: 550;
 }
 .x6{
    padding-right: 50px;
    color: #DC143C;
 }
 .mm17{
  font-size: 0.7em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #0000CD;
 }
 .mm18{
  padding-right: 35px;
 }

 .m9{
  padding-right: 40px;
  font-size: 1.5em;
   font-weight: 550;
 }
 .mmx7{
    padding-right: 60px;
    color: #DC143C;
 }
 .mm20{
  font-size: 0.7em;
  font-weight: 600;
  padding-bottom: 10px;
  color: #0000CD;
 }
 .mm21{
  padding-right: 35px;
 }

.s1{
   width: 50px;
   height: 30px;
   font-size: 1em;
   font-weight: 600;
  margin-right: 40px;
  margin-top: 10px;
 
  color: blue;
 }

 .s2{
  width: 50px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
 margin-right: 40px;
 margin-top: 10px;

 color: blue;
}

.s3{
  width: 50px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
 margin-right: 40px;
 margin-top: 10px;

 color: blue;
}

.s4{
  width: 50px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
 margin-right: 40px;
 margin-top: 10px;

 color: blue;
}

.s5{
  width: 50px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
 margin-right: 40px;
 margin-top: 10px;

 color: blue;
}

.s6{
  width: 50px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
 margin-right: 40px;
 margin-top: 10px;

 color: blue;
}

.s7{
  width: 50px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
 margin-right: 40px;
 margin-top: 10px;

 color: blue;
}



.z1{
  margin-top: 60px;
  margin-left: 39%;
  font-size: 1.8em;
  color: #0000CD;
  padding-bottom: 20px;
}


 .u{
   direction: rtl;
   border: 2px solid black;
   margin-right:90px ;
   overflow: auto;
   margin-left: 90px;
   display: flex;
   padding-bottom: 30px;
   margin-bottom: 40px;
 }
  
.u1{
  color: #0000CD;
  padding-right: 20px;
  font-size: 1.1em;
  font-weight: 700;
}
.uu2{
  color: black;
  padding-top: 10px;
  font-size: 1.4em;
  font-weight: 600;
  padding-right: 25px;
}
.uu3{
  width: 50px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
 margin-right: 40px;
 margin-top: 10px;

 color: blue;}

}



@media screen and  (max-width: 600px){


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
    background: url(pone22.jpg) ;
  }

  .m1{
    display: flex;
    direction: rtl;
  padding-right: 20%;
  padding-top: 20px;
  
  font-size: 1.3em;
  font-weight: 600;
  color: #DC143C;
  ;}

  .m2{
   

  padding-left:10%;
    padding-top: 40px;
    font-size: 1.5em;
    font-weight: 600;
    color: #0000CD;
    
  }

  .zz1{
    display: flex;
    border: 2px solid black;
    overflow: auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .x1{
    padding-left: 29%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x2{
    padding-left: 18%;
    color: #DC143C;
    font-size: 1.4em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x3{
    padding-left: 22%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x4{
    padding-left: 18%;
    color: #DC143C;
    font-size: 1.1em;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .x5{
    padding-left: 29%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x6{
    padding-left: 29%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x7{
    padding-left: 39%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .xx1{
    font-size: 1em;
    font-weight: 600;
     direction: rtl;
     color: #0000CD;
     padding-top: 10px;

  }
  .mm6  ,.mm9 , .mm2 , .mm12 , .mm15 , .mm18 , .mm21{
    color: rgb(0, 0, 0);
    padding-left: 30%;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;
  }

  .s1,.s2,.s3,.s4,.s5,.s6,.s7{
    color: blue;
    margin-left: 35%;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
  }


  .z1{
    padding-top: 50px;
    padding-left: 18%;
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 30px;
    color: #0000CD;
  }

  .u{
    display: flex;
    overflow: auto;
    border: 2px solid black;
    margin-left: 10%;
    margin-right:10% ;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }

  .uu1{
    font-size: 1em;
    font-weight: 600;
     direction: rtl;
     color: #0000CD;
     padding-right: 30px;
 
  }

  .uu2{
    color: #DC143C;
    padding-left: 30%;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;

  }

  .uu3{
    color: blue;
    margin-left: 35%;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
}




 





