
@media screen and  (max-width: 600px){


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
    background: url(pone22.jpg) ;
  }

  .m1{
    display: flex;
    direction: rtl;
  padding-right: 20%;
  padding-top: 20px;
  
  font-size: 1.3em;
  font-weight: 600;
  color: #DC143C;
  ;}

  .m2{
    padding-left: 19%;
    padding-top: 40px;
    font-size: 1.5em;
    font-weight: 600;
    color: #0000CD;
    
  }

  .zz1{
    display: flex;
    border: 2px solid black;
    overflow: auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .x1{
    padding-left: 29%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x2{
    padding-left: 18%;
    color: #DC143C;
    font-size: 1.4em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x3{
    padding-left: 22%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x4{
    padding-left: 18%;
    color: #DC143C;
    font-size: 1.1em;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .x5{
    padding-left: 29%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x6{
    padding-left: 29%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .x7{
    padding-left: 39%;
    color: #DC143C;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 10px;

  }
  .xx1{
    font-size: 1em;
    font-weight: 600;
     direction: rtl;
     color: #0000CD;
     padding-top: 10px;

  }
  .mm6  ,.mm9 , .mm2 , .mm12 , .mm15 , .mm18 , .mm21{
    color: rgb(0, 0, 0);
    padding-left: 30%;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;
  }

  .s1,.s2,.s3,.s4,.s5,.s6,.s7{
    color: blue;
    margin-left: 35%;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
  }


  .z1{
    padding-top: 50px;
    padding-left: 18%;
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 30px;
    color: #0000CD;
  }

  .u{
    display: flex;
    overflow: auto;
    border: 2px solid black;
    margin-left: 10%;
    margin-right:10% ;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }

  .uu1{
    font-size: 1em;
    font-weight: 600;
     direction: rtl;
     color: #0000CD;
     padding-right: 30px;
 
  }

  .uu2{
    color: #DC143C;
    padding-left: 30%;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;

  }

  .uu3{
    color: blue;
    margin-left: 35%;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
}
